Debug
x64
.vs
obj
bin
.metadata
*.class
.settings
.classpath
.project
/vb_net/mugwump/mugwump/My Project
/c++/mugwump_2d/mugwump_2d/mugwump_2d.vcxproj.user
/c++/mugwump_2d/mugwump_2d/mugwump_2d.vcxproj
/c++/mugwump_2d/mugwump_2d/mugwump_2d.vcxproj.filters
/c++/mugwump_2d/mugwump_2d/Release
/c++/mugwump_2d/Release
/c/mugwump_2d/3rd_party/raygui
